---
import SectionPlaceholder from "../SectionPlaceholder.astro";
// TODO: change links
const projects = [{
        name: "Seterra extra",
        img: "seterra-extra-logo.svg",
        link: "https://github.com/Sinskiy/seterraextra",
        description: "Extension, that adds many cool features for Seterra - website for learning geography",
    },
    {
        name: "Personal website",
        img: "logo-projects.svg",
        link: "https://github.com/Sinskiy/sinskiy.github.io",
        description: "This website"
    }
]
import Project from "./Project.astro";
---
<!-- it isn't working with just isColumn=false.... -->
<SectionPlaceholder sectionId="projects">
    <div id="projects--wrapper" class="flex center">
        {projects
            .map((project) =>
                <Project name={project.name} img={project.img} link={project.link} description={project.description} />
            )
        }
    </div>
</SectionPlaceholder>

<style>
    #projects--wrapper {
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    /* https://codepen.io/Hyperplexed/pen/MWQeYLW */

    #projects--wrapper:hover > .project::after {
        opacity: 1;
    }

    @media (max-width: 1200px) {
        #projects--wrapper {
            flex-direction: column;
        }
    }

</style>

<script>
    const projectsWrapper = document.querySelector("#projects--wrapper");
    const allProjects = document.querySelectorAll(".project");
    projectsWrapper.addEventListener("mousemove", (e: MouseEvent) => {
        allProjects.forEach((project: HTMLElement) => {
            const rect = project.getBoundingClientRect(),
            x = e.clientX - rect.left,
            y = e.clientY - rect.top;

            project.style.setProperty("--mouse-x", `${x}px`);
            project.style.setProperty("--mouse-y", `${y}px`);
        });
    })
</script>