---
const title = "sinskiy";
const description = "personal website-portfolio";
const image = "/thumbnail.svg";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Icon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- General Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta property="og:title" content={title} />
<meta property="twitter:title" content={title} />
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<meta property="twitter:description" content={description} />

<!-- Social cards -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta property="og:site_name" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
