---
const title = "Sinskiy";
const description = "Sinskiy's (my) modern-looking personal website and portfolio with my pet projects, information about myself, and my social medias. Also you can email me via this website.";
const url = new URL(Astro.url.pathname, Astro.site);
const image = "https://i.ibb.co/0YKXssd/thumbnail.webp";
---
<!-- boilerplate -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="generator" content={Astro.generator}>

<!-- icon -->
<link rel="icon" type="image/svg+xml" href="favicon.svg">

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&family=Red+Rose:wght@300;400;700&display=swap" rel="stylesheet">

<!-- General Meta Tags -->
<title>{title}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>
<meta name="author" content="Sinskiy">

<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<link rel="canonical" href={url} />