---
const medias = ["discord"];
const mediasWithLinks = ["github", "youtube"];
const links = ["https://github.com/Sinskiy/", "https://youtube.com/@sinskiy_/"];
---

<div id="first-row--wrapper" class="flex">
    <div id="copy-email-button-tooltip" class="tooltip name"></div>
    <button id="copy-email-button" class="flex center copy-text" data-copy="sinskiy@proton.me" title="Click to copy my email" aria-label="Click to copy my email">
        sinskiy@proton.me
        <img src="copy.svg" alt="copy icon" id="copy-svg">
    </button>
    <nav class="flex">
        {medias.map((media) =>
            <div id="discord-tooltip" class="tooltip name"></div>
            <img
                id={media}
                data-copy="@sinskiy_"
                title="Copy my Discord"
                src={`${media}.svg`}
                alt={`${media} logo`}
            >
        )}

        {mediasWithLinks
          .map((media) =>
            <a href={links[mediasWithLinks.indexOf(media)]} target="_blank" title={`Go to my ${media[0].toUpperCase() + media.substring(1)}`}>
                <img src={`${media}.svg`} alt={`${media} logo`} />
            </a>
        )}
    </nav>
</div>

<style>
    #first-row--wrapper {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .tooltip.name {
        position: absolute;
        top: 20px;

        background-color: var(--green);
        filter: opacity(0);
        width: fit-content!important;
        z-index: -1;
    }

    #discord-tooltip {
        right: 20px;
    }

    .copy-text {
        gap: 0.5rem;
        font-size: clamp(1rem, 5vw, 2rem)!important;
    }

    nav {
        align-items: center;
        gap: 1.5rem;
    }

    nav > a, nav > img {
        z-index: 5;
    }

    #copy-email-button:hover, nav > a:hover, nav > img:hover {
        filter: brightness(0.7);
    }

    #copy-email-button {
        z-index: 7;
    }

    #copy-email-button:hover, #discord:hover{
        cursor: copy;
    }

    #copy-svg {
        width: 1.2rem;
        height: 1.5rem;
    }

    @media (max-width: 800px) {
        #first-row--wrapper {
            gap: 1.5rem;
            margin-bottom: 3rem;
            flex-direction: column;
        }
    }
</style>
<script>
    function copyText() {
        let tooltip = document.getElementById(`${this.id}-tooltip`);
        tooltip.innerText = `Copied text: ${this.dataset.copy}`;
        navigator.clipboard.writeText(this.dataset.copy);
        tooltip.style.filter = "opacity(1)";
        setTimeout(() => {
            tooltip.style.filter = "opacity(0)"
        }, 2000);
    }

    const copy = document.querySelector("#copy-email-button");
    const discord = document.querySelector("#discord");
    copy.addEventListener("click", copyText);
    discord.addEventListener("click", copyText);
</script>