---
const medias = ["discord"];
const mediasWithLinks = ["github", "youtube"];
const links = ["https://github.com/Sinskiy/", "https://youtube.com/@sinskiy_/"];
---

<div id="first-row--wrapper" class="flex">
    <button id="copy" class="flex center" data-copy="sinskiy@proton.me" title="Click to copy my email" aria-label="Click to copy my email">
        <h3>sinskiy@proton.me</h3>
        <img src="copy.svg" alt="copy icon" id="copy-svg">
    </button>
    <nav class="flex">
        {medias.map((media) =>
            <img
                id={media}
                data-copy="@sinskiy_"
                src={`${media}.svg`}
                alt={`${media} logo`}
            >
        )}

        {mediasWithLinks
          .map((media) =>
            <a href={links[mediasWithLinks.indexOf(media)]} target="_blank">
                <img src={`${media}.svg`} alt={`${media} logo`} />
            </a>
        )}
    </nav>
</div>

<style>
    #first-row--wrapper {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: clamp(1rem, 5vw, 2rem)!important;
        margin-right: 0.5rem!important;
    }

    nav {
        align-items: center;
        gap: 1.5rem;
    }

    nav > a, nav > img {
        z-index: 5;
    }

    #copy {
        z-index: 7;
    }

    #copy:hover,  #discord:hover{
        cursor: copy;
        filter: brightness(0.7);
    }

    #copy-svg {
        width: 1.2rem;
        height: 1.5rem;
    }

    @media (max-width: 800px) {
        #first-row--wrapper {
            gap: 1.5rem;
            margin-bottom: 3rem;
            flex-direction: column;
        }
    }
</style>
<script>
    function copyText() {
        navigator.clipboard.writeText(this.dataset.copy).then(() => {
            alert(`Copied the text: ${this.dataset.copy}`);
        });
    }

    const copy = document.querySelector("#copy");
    const discord = document.querySelector("#discord");
    copy.addEventListener("click", copyText);
    discord.addEventListener("click", copyText);
</script>