---
const medias = ["discord"] as const;
const mediasWithLinks = ["github", "youtube"] as const;
const links = [
  "https://github.com/Sinskiy/",
  "https://youtube.com/@sinskiy_/",
] as const;
---

<div id="first-row--wrapper" class="flex">
  <div id="copy-email-button-tooltip" class="tooltip name"></div>
  <button
    id="copy-email-button"
    class="center copy-text flex"
    data-copy="sinskiy@proton.me"
    title="Click to copy my email"
    aria-label="Click to copy my email"
  >
    sinskiy@proton.me
    <img src="copy.svg" alt="copy icon" id="copy-svg" />
  </button>
  <nav class="flex">
    {
      medias.map((media) => (
        <>
          <div id="discord-tooltip" class="tooltip name" />
          <button
            id={media}
            data-copy="@sinskiy_"
            title="Click to copy my Discord"
          >
            <img src={`${media}.svg`} alt={`${media} logo`} />
          </button>
        </>
      ))
    }

    {
      mediasWithLinks.map((media) => (
        <a
          href={links[mediasWithLinks.indexOf(media)]}
          target="_blank"
          title={`Click to go to my ${media.toUpperCase() + media.substring(1)}`}
        >
          <img src={`${media}.svg`} alt={`${media} logo`} />
        </a>
      ))
    }
  </nav>
</div>

<style>
  #first-row--wrapper {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .tooltip.name {
    position: absolute;
    top: 1.5rem;

    background-color: var(--green);
    filter: opacity(0);
    width: fit-content !important;
    z-index: 10;
  }

  #copy-email-button-tooltip {
    left: 2rem;
  }

  #discord-tooltip {
    right: 2rem;
  }

  .copy-text {
    gap: 0.5rem;
    font-size: clamp(1rem, 5vw, 2rem) !important;
  }

  nav {
    align-items: center;
    gap: 1.5rem;
  }

  nav > a,
  nav > img {
    z-index: 5;
  }

  #copy-email-button:hover,
  a:hover,
  #discord:hover {
    filter: brightness(0.7);
  }

  #copy-email-button,
  #discord {
    z-index: 7;
  }

  #copy-email-button:hover,
  #discord:hover {
    cursor: copy;
  }

  #copy-svg {
    width: 1.2rem;
    height: 1.5rem;
  }

  @media (max-width: 800px) {
    #first-row--wrapper {
      gap: 1.5rem;
      margin-bottom: 3rem;
      flex-direction: column;
    }
  }
</style>
<script>
  let active = false;
  function copyText(e: MouseEvent) {
    const { id, dataset } = e.currentTarget as HTMLElement;
    const tooltip = document.getElementById(`${id}-tooltip`) as HTMLElement;
    if (!active) {
      const textToCopy = dataset.copy as string;
      active = true;
      tooltip.innerText = `Copied text: ${textToCopy}`;
      navigator.clipboard.writeText(textToCopy);
      tooltip.style.display = "flex";
      tooltip.style.filter = "opacity(1)";
      setTimeout(() => {
        tooltip.style.filter = "opacity(0)";
      }, 2000);
      setTimeout(() => {
        tooltip.style.display = "none";
        active = false;
      }, 2500);
    }
  }

  const copy = document.querySelector("#copy-email-button") as HTMLElement;
  const discord = document.querySelector("#discord") as HTMLElement;
  copy.addEventListener("click", copyText);
  discord.addEventListener("click", copyText);
</script>
